@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: rgb(28, 20, 33);
    color: white;
    font-family: 'MedievalSharp', cursive;
}

html {
    padding: 0;
    margin: 0
}

p {
    margin: 1vw;
    font-size: 28px;
}

h2 {
    margin: 1vw;
    font-size: 34px;
}

h1 {
    margin: 1vw;
    font-size: 40px;
}

a {
    color: white;
    text-decoration: underline;
}

.header {
    width: 100vw;
    height: 11vh;
    background-color: #63405D;
    color: white;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.35vw;
    line-height: 11vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

.page-button {
    float: left;
    color: white;
    font-family: 'MedievalSharp', cursive;
    font-size: calc(1vh + 1vw);
    background-color: #63405D;
    text-align: center;
    overflow-wrap: break-word;
    margin-left: 1.5vw;
    padding-left: .75vh;
    padding-right: .75vh;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #684A5D;
    height: 9vh;
    margin-top: 1vh;
    line-height: 9vh;
}

.page-button:hover {
    background-color: #6D545D;
    text-decoration: underline;
}

.logo {
    height: 11vh;
    float: left;
}

.logo:hover {
    cursor: pointer;
}

.sidebar {
    width: 15vw;
    height: 89vh;
    background-color: #BED558;
    float: left;
    text-align: center;
    overflow-wrap: break-word;
    position: fixed;
    top: 11vh;
}

.sidebar-button {
    font-size: calc(1vh + 1vw);
    width: 13vw;
    height: 8vh;
    background-color: #ABB557;
    border-radius: 10px;
    margin-left: 1vw;
    margin-top: 1vw;
    line-height: 8vh;
}

.sidebar-button:hover {
    background-color: #8B9556;
}

.center-thing {
    width: 83vw;
    /* min-height: calc(89vh - 2vw); */
    height: auto;
    margin-left: 1vw;
    margin-top: -80vh;
    margin-left: 16vw;
    background-color: rgb(36, 19, 44);
    border-radius: 10px;
    float: left;
    color: white;
    font-family: 'MedievalSharp', cursive;
    overflow-y: auto;
}

.feature {
    width: 15.4vw;
    border-radius: 10px;
    margin-left: 1vw;
    float: left;
}

.caption {
    width: 15.4vw;
    height: 8vh;
    color: white;
    font-family: 'MedievalSharp', cursive;
    margin-left: 1vw;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 7vh;
    float: left;
}

#bottom:hover {
    visibility: visible;
}

#bottom {
    visibility: hidden;
    transition: visibility 2s;
    margin-top: 11vh;
    position: fixed;
    z-index: 10;
}

.cover-image {
    width: 17.5vw;
    float: right;
    margin-top: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    background-color: #6D545D;
}

.cover-caption {
    background-color: #8B9556;
    width: 19.5vw;
    height: 40vw;
    border-radius: 10px;
    float: right;
    top: calc(11vh + 2vw);
    margin-left: 62.5vw;
    position: absolute;
}

.padding {
    height: 1vw;
    width: 10vw;
    line-height: 1vw;
}